*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.box-select{
  background-color: #29b1dd;
  display: flex;
  align-content: center;
  justify-content: center;
}

.box-icon{
  padding: 20px 60px;
  margin: 20px;
  background-color: white;
  box-shadow: 2px 2px gray;
  border-radius: 20px;
}

.bg-gray{
  background-color: #dddddd;
}

.icon-name{
  vertical-align: super;
  text-transform: uppercase;
  font-weight: 600;
}

span{
  margin: 20px 10px;
}

select{
  margin: 20px 0;
}

h1{
  font-size: 50px;
  color: #29b1dd;
}

i{
  font-size: 40px;
}

.color-blue{
  color: blue;
}
.color-green{
  color: green;
}
.color-orange{
  color: orange;
}